#messages{
    border: 1px solid black;
    height: 90vh;
}

#messages p{
    margin: 0;
    padding: 10px;
}

#messages :nth-child(odd){
    background-color: #aaa;
}

form{
    display: flex;
}

#name{
    flex: 1;
    padding: 10px;
}
#message{
    flex: 5;
    padding: 10px;
}
button{
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #839c49;
    color: white;
}